# SPDX-FileCopyrightText: 2026 JustPav
#
# SPDX-License-Identifier: GPL-3.0-only

[Desktop Entry]
Type=Application
Name=Upac
Comment=Install a package with upac
Icon=upac
Exec=pkexec /usr/bin/up pkg install --file %f
Terminal=false
NoDisplay=true
MimeType=
Categories=System;PackageManager;
